!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hackbox2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .Wrapper
    %header
      .HeaderLeft
        =link_to root_path, class: "HeaderLeft__logo" do
          Hack Box
      .HeaderRight
        =link_to  search_posts_path, class: "HeaderRight__btn btn" do
          投稿を探す
        -# - if user_signed_in?
        -#   =link_to new_post_path, class: "HeaderRight__btn btn" do
        -#     ➕
        -#   =link_to user_path(current_user.id), class: "HeaderRight__btn btn" do
        -#     =current_user.name
        -# - else
        -#   =link_to new_user_session_path, class: "HeaderRight__btn btn" do
        -#     ログイン
        -#   =link_to new_user_registration_path, class: "HeaderRight__btn btn" do
        -#     新規登録
    .Main
      = yield
    %footer
      =link_to root_path do
        ホームへ戻る
